# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and databases
*.log

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/

# IDE files
.idea/
.vscode/

# Dependency directories
lib/
libs/
node_modules/

# Compiled Python files
*.pyc

# FastAPI automatic reloader
__pycache__/main.cpython-*